* annex.backend=MD5E
**/.git* annex.largefiles=nothing
* annex.largefiles=((mimeencoding=binary)and(largerthan=0))
* annex.largefiles=(((mimeencoding=binary)and(largerthan=0))or((include=*timeseries.tsv)or(include=*connectome.tsv)))
